body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 30px;
}

#cards {
    max-width: 500px;
    margin: auto;
}

input {
    padding: 8px;
    width: 60%;
}

button {
    padding: 8px 12px;
    margin-left: 5px;
}

#informacoes img {
    margin-top: 15px;
}